body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header{
  background-color: #404040;
  
  padding: 1rem;
}
header a{
  color: rgb(255, 142, 142); 
 text-decoration: none;
 text-transform: uppercase;
 font-size: 40px;
 font-weight: bold
}
